{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% tailwind_css %}


    <title>Список готелів</title>
</head>
<body>
    <header class="bg-gray-800 text-white">
        <div class="container mx-auto flex justify-between py-6">
          <a href="/" class="text-3xl font-bold">Karpaty-store</a>
          <ul class="flex items-center">
            <li>
              <a href="/about" class="text-white hover:text-gray-400">Подати оголошення</a>
            </li>
            <li>
              <a href="/contact" class="text-white hover:text-gray-400">Реєстрація</a>
            </li>
          </ul>
        </div>
      </header>
    <h1>Список готелів де можна відпочити в Карпатах</h1>
    <ul>
        {% for post in posts %}
            <li>
                <a href="/hotels/{{ hotel.slug }}">{{ hotel.name }}</a>
                <p>{{ post.title }}</p>
                <p>{{ post.description }}</p>
                <p>{{ post.created_at}}</p>
                <p></p>
                <img src="{{ post.image.url }}" width="200">
            </li>
        <br><tr>
        {% endfor %}
    </ul>
</body>
</html>